# This work is licensed under GPL v3.0 license

! Style.name: Demo-Theme
! Style.made: Rich Kulesus (AKA, mrbiotech)
! Style.date: 2024|Aug|31
! Style.site: ...I don't have a site anymore

*.font:                                 Iosevka-10

# ───────────────────────────────────────┐
# Window options ####################### │
# ───────────────────────────────────────┘

# Textures have the following elements
# ---- Flat|Sunken|Raised
# ------- If Flat|Sunken, add Bevel1|Bevel2
# ---- Gradient|Solid
# -------- If Gradient, add: Horizontal|Vertical|Diagonal|Crossdiagonal|Pipecross|Elliptic|Rectangle|Pyramid
# ---- Interlaced
# ---- ParentRelative, for total transparency on parent element

window.bevelWidth:                      0
window.borderColor:                     #312322
window.borderWidth:                     1
window.justify:                         center
window.roundCorners:                    TopLeft,TopRight,BottomLeft,BottomRight

window.title.focus.pixmap:              demo-window.title.focus.xpm
window.title.unfocus.pixmap:            demo-window.title.unfocus.xpm

window.frame.focusColor:                #0066ff
window.frame.unfocusColor:              #312337

window.handleWidth:                     6
window.handle.focus.pixmap:             demo-window.handle.focus.xpm
window.handle.focus.color:              #312337

window.handle.unfocus.pixmap:           demo-window.handle.unfocus.xpm
window.handle.unfocus.color:            #312337

window.grip.focus.pixmap:               demo-window.grip.focus.xpm

window.grip.unfocus.pixmap:             demo-window.grip.unfocus.xpm

window.label.active.pixmap:             demo-window.label.active.xpm
window.label.active.textColor:          #ffae70

window.label.focus.color:               #000000
window.label.focus.pixmap:              demo-window.label.focus.xpm
# window.label.focus:                   sunken solid bevel1
# window.label.focus.colorTo:           __color__
#window.label.focus.textColor:           #ffffff

window.label.borderWidth:               1
window.label.bevelWidth:                1
window.label.unfocus.textColor:         #ffae70
window.label.unfocus.pixmap:            demo-window.label.unfocus.xpm
# window.label.unfocus:                 sunken solid bevel1
# window.label.unfocus.color:           __color__
# window.label.unfocus.colorTo:         __color__

window.title.height:                    24
window.title.focus.pixmap:              demo-toolbar.title.focus.xpm
window.title.unfocus.pixmap:            demo-toolbar.title.unfocus.xpm

window.button.focus.pixmap:             demo-window.button.focus.xpm
window.button.unfocus.pixmap:           demo-window.button.unfocus.xpm
window.button.pressed.pixmap:           demo-window.button.pressed.xpm

window.close.pixmap:                    demo-window.close.xpm
window.close.unfocus.pixmap:            demo-window.close.unfocus.xpm
window.close.pressed.pixmap:            demo-window.close.pressed.xpm

window.iconify.pixmap:                  demo-window.iconify.xpm
window.iconify.unfocus.pixmap:          demo-window.iconify.unfocus.xpm
window.iconify.pressed.pixmap:          demo-window.iconify.pressed.xpm

window.maximize.pixmap:                 demo-window.maximize.xpm
window.maximize.unfocus.pixmap:         demo-window.maximize.unfocus.xpm
window.maximize.pressed.pixmap:         demo-window.maximize.pressed.xpm

window.shade:                           true
window.shade.pixmap:                    demo-window.shade.xpm
window.shade.unfocus.pixmap:            demo-window.shade.unfocus.xpm
window.shade.pressed.pixmap:            demo-window.shade.pressed.xpm

window.unshade.focus.pixmap:                  demo-window.unshade.xpm
window.unshade.unfocus.pixmap:          demo-window.unshade.unfocus.xpm
window.unshade.pressed.pixmap:          demo-window.unshade.pressed.xpm

window.stick.pixmap:                    demo-window.stick.xpm
window.stick.unfocus.pixmap:            demo-window.stick.unfocus.xpm
window.stick.pressed.pixmap:            demo-window.stick.pressed.xpm

window.stuck.pixmap:                    demo-window.stuck.xpm
window.stuck.unfocus.pixmap:            demo-window.stuck.unfocus.xpm
window.stuck.pressed.pixmap:            demo-window.stuck.pressed.xpm

window.lhalf.pixmap:                    demo-window.lhalf.xpm
window.lhalf.unfocus.pixmap:            demo-window.lhalf.unfocus.xpm
window.lhalf.pressed.pixmap:            demo-window.lhalf.pressed.xpm

window.rhalf.pixmap:                    demo-window.rhalf.xpm
window.rhalf.unfocus.pixmap:            demo-window.rhalf.unfocus.xpm
window.rhalf.pressed.pixmap:            demo-window.rhalf.pressed.xpm

# ───────────────────────────────────────┐
# Menu options ######################### │
# ───────────────────────────────────────┘
menu.bevelWidth:                        1
menu.borderColor:                       #312337
menu.borderWidth:                       1
menu.itemHeight:                        24
menu.roundCorners:                      TopLeft,TopRight,BottomLeft,BottomRight

menu.bullet:                            triangle
menu.bullet.position:                   right

menu.frame:                             flat solid
menu.frame.color:                       #312337
menu.frame.colorTo:                     #283540
menu.frame.disableColor:                #a0a0a7
menu.frame.justify:                     left
menu.frame.textColor:                   #eeeeee
#menu.frame.pixmap:                     demo-menu.frame.xpm

menu.hilite.justify:                    left
menu.hilite.textColor:                  #ffffff
menu.hilite.pixmap:                     demo-menu.hilite.xpm

menu.titleHeight:                       24
menu.title.pixmap:                      demo-menu.title.xpm
menu.title.textColor:                   #ffffff
menu.title.justify:                     center

menu.selected.pixmap:                   demo-menu.selected.xpm
menu.submenu.pixmap:                    demo-menu.submenu.xpm
menu.unselected.pixmap:                 demo-menu.unselected.xpm

# ───────────────────────────────────────┐
# Background ########################### │
# ───────────────────────────────────────┘

# See man fbsetroot for descriptions of the background options
# background: centered|aspect|tiled|fullscreen|random|solid|gradient __texture__|mod|none|unset background.pixmap:  __file or directory__
# background.color:                     __color__
# background.colorTo:                   __color__
# background.modX:                      __integer__
# background.modY:                      __integer__

# ───────────────────────────────────────┐
# Slit ################################# │
# ───────────────────────────────────────┘
slit:                                   solid raised bevel1
slit.bevelWidth:                        1
slit.borderColor:                       #312337
slit.borderWidth:                       2
slit.pixmap:                            demo-slit.xpm
#slit.color:                            #312337
#slit.colorTo:                          __color__



# ───────────────────────────────────────┐
# Toolbar ############################## │
# ───────────────────────────────────────┘
toolbar:                                flat gradient vertical
toolbar.bevelWidth:                     0
toolbar.borderColor:                    #312337
toolbar.borderWidth:                    1
toolbar.pixmap:                         demo-toolbar.xpm
toolbar.shaped:                         true
toolbar.height:                         24
# toolbar.button.scale:                 1
# toolbar.color:                        __color__
# toolbar.colorTo:                      __color__

toolbar.clock:                          flat
toolbar.clock.borderColor:              #312337
toolbar.clock.borderWidth:              1
toolbar.clock.justify:                  center
toolbar.clock.textColor:                #55aacc
toolbar.clock.pixmap:                   demo-toolbar.xpm
# toolbar.clock.color:                  __color__
# toolbar.clock.colorTo:                __color__

toolbar.iconbar.borderColor:            #312337
toolbar.iconbar.borderWidth:            1

toolbar.iconbar.empty:                  flat
toolbar.iconbar.empty.pixmap:           demo-toolbar.iconbar.empty.xpm
# toolbar.iconbar.empty.color:          __color__
# toolbar.iconbar.empty.colorTo:        __color__

toolbar.iconbar.focused.borderColor:    #312337
toolbar.iconbar.focused.borderWidth:    0
toolbar.iconbar.focused.justify:        center
toolbar.iconbar.focused.textColor:      #000000
toolbar.iconbar.focused.pixmap:         demo-toolbar.iconbar.focused.xpm
# toolbar.iconbar.focused.color:        __color__
# toolbar.iconbar.focused.colorTo:      __color__

toolbar.iconbar.unfocused.borderColor:  #312337
toolbar.iconbar.unfocused.borderWidth:  0
toolbar.iconbar.unfocused.justify:      center
toolbar.iconbar.unfocused.textColor:    #aaaaaa
toolbar.iconbar.unfocused.pixmap:       demo-toolbar.iconbar.unfocused.xpm
# toolbar.iconbar.unfocused:            __texture__
# toolbar.iconbar.unfocused.color:      __color__
# toolbar.iconbar.unfocused.colorTo:    __color__

toolbar.workspace.justify:              center
toolbar.workspace.textColor:            #55aacc
toolbar.workspace.borderWidth:          1
toolbar.workspace.pixmap:               demo-toolbar.workspace.xpm
#toolbar.workspace:                     __texture__
toolbar.workspace.borderColor:          #312337
# toolbar.workspace.color:              __color__
# toolbar.workspace.colorTo:            __color__
